body {
  background-image: url("img/wp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-sm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .col-sm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
  }
}
@media screen and (max-width: 700px) {
  .col-sm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
  }
}
